<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin_home.css" />
</head>
<body>
    <div class="content vertical-align-center">
        <p>
            Welcome to
        </p>
        <h1>
            <div style="font-size: 50px;">
            rm -rf
            </div>
        </h1>
        <div class="row" style="padding-top: 30px;">
            <div class="three-column">
                <p>News</p>
            </div>
            <div class="three-column">
                <a href={{"/database/?"+passphrase}}>Query the Database</a>
            </div>
            <div class="three-column">
                <p>Connection</p>
                <br>
                <div class="left">
                    <p><b>Tfddfe </b>TODO@email.com</p>
                    <p><b>HvsYbcksf </b><span class="message">< Access Denied ></span></p>
                    <p><b>EspAzap </b><span class="message">< Access Denied ></span></p>
                    <p><b>MaxAxtw </b><span class="message">< Access Denied ></span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>