<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin_home.css" />
</head>
<body>
    <div class="content">
        <p>
            Welcome to
        </p>
        <h1>
            <div style="font-size: 50px;">
            rm -rf
            </div>
        </h1>
        <div class="row" style="padding-top: 30px;">
            <div class="three-column">
                <p>News</p>
                <div class="news-block">
                    <h1>Security Leak</h1>
                    <p class="smaller">Date: 12.12.2021</p>
                    <div class="news-text"><p>
                        <i>Attention:</i> The Metaphysics Momentum server has been attacked by an Un-Controlled. Several vulnerable APIs have been exposed. Members are to remove any sensible information upon observance. 
                        The attacker (Code Name "J.") has not yet been located. Members are to trace down and eradicate the mentioned subject through target-generated means in a timely manner.
                    </p></div>
                </div>
                <div class="news-block">
                    <h1>Project rm -rf Progress: 1.5%</h1>
                    <p class="smaller">Date: 12.01.2021</p>
                    <div class="news-text"><p></p>
                        Questionnaire #5 published, annihilating 5% of target population.
                        Hijacked conceptual information recorded in The Database.
                        Upstream report issued.
                    </p></div>
                </div>
                <div class="news-block">
                    <h1>Target-Generated Approach to Information Sharing</h1>
                    <p class="smaller">Date: 04.12.2020</p>
                    <div class="news-text"><p>
                        Upon the time of issue, all members are to adopt the target-generated binary-based system as the main method of information transmission. Any inter-galactical communication is prohibited unless during emergency.
                        Any behavior associated with this system are to be disguised as "humanoid". Should anomalous behavior appear, all present witnesses are to be eradicated.
                    </p></div>
                </div>
            </div>
            <div class="three-column">
                <a href="/">Log Off</a>
                <br>
                <br>
                <a href={{"/database/%3F"+passphrase}}>Access The Database</a>
            </div>
            <div class="three-column">
                <p>Connection</p>
                <br>
                <table>
                    <tr><td class="right">Tfddfe</td><td>TODO@email.com</td>
                    <tr><td class="right">HvsYbcksf</td><td><span class="message">< Access Denied ></span></td>
                    <tr><td class="right">EspAzap</td><td><span class="message">< Access Denied ></span></td>
                    <tr><td class="right">MaxAxtw</td><td><span class="message">< Access Denied ></span></td>
                </table>
            </div>
        </div>
    </div>
</body>
</html>